<!doctype html>
<html>
  <head>
    <title>五行運轉 扭轉人生</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="查收您的專屬命運密碼！點擊連結啟動未來序列，五行能量重塑人生軌跡" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="google" content="notranslate" />
    <meta name="image" content="thumb.png" />
    <meta property="og:title" content="五行運轉 扭轉人生" />
    <meta
      property="og:description"
      content="查收您的專屬命運密碼！點擊連結啟動未來序列，五行能量重塑人生軌跡" />
    <meta property="og:url" content="https://amulet.web-interactive.org" />
    <meta property="og:image" content="thumb.png" />
    <meta
      name="viewport"
      user-scalable="no"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" />
    <link rel="icon" type="image/ico" href="favicon.png" />
    <script src="https://mcp.figma.com/mcp/html-to-design/capture.js" async></script>
    <style></style>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
